<div fxLayout="row" style="height: 100%">
  <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="500" local-storage-key="split-pane-operations"
    primary-component-initialratio="0.3" fxFlex style="height: 100%">

    <div class="split-pane-content-primary" style="height: 100%" fxLayout="column">
      <app-operations class="component-box" fxFlex></app-operations>
    </div>

    <div class="split-pane-content-secondary" style="height: 100%" fxLayout="row">
      <vertical-split-pane primary-component-minsize="200" secondary-component-minsize="200" local-storage-key="split-pane-recipe"
        primary-component-initialratio="0.5" fxFlex style="height: 100%">
        <div class="split-pane-content-primary" style="height: 100%" fxLayout="column">
          <app-recipe fxFlex class="component-box" (recipeUpdated)="handleRecipeUpdated($event)"></app-recipe>
          <app-controls style="height: 150px;" class="component-box"></app-controls>
        </div>
        <div class="split-pane-content-secondary" style="height: 100%" fxLayout="column">
          <horizontal-split-pane primary-component-minsize="200" secondary-component-minsize="200" local-storage-key="split-pane-recipe"
            primary-component-initialratio="0.5" fxFlex style="height: 100%">
            <div class="split-pane-content-primary" style="height: 100%" fxLayout="column">
              <app-input fxFlex class="component-box" (inputChanged)="handleInputChanged($event)"></app-input>
            </div>
            <div class="split-pane-content-secondary" style="height: 100%" fxLayout="column">
              <app-output fxFlex class="component-box" [output]="output" [timings]="timings"></app-output>
            </div>
          </horizontal-split-pane>
        </div>
      </vertical-split-pane>
    </div>

  </vertical-split-pane>
</div>