/* You can add global styles to this file, and also import other style files */

html, 
body {
  height: 100%;
  margin: 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.app-content {
  padding: 20px;
}

.content-card-header {
  padding: 10px !important;
}

md-card-title {
  font-size: 12pt !important;
  margin: 0 !important;
}

md-card {
  padding: 0 !important;
}

.length-info {
  text-align: right;
  margin: 0 10px !important;
}

.length-info p {
  margin: 0 !important;
  font-size: 8pt;
}

.title-button {
  margin: -5px 0 !important;
  font-size: 9pt !important;
  line-height: 9pt !important;
  padding: 0 10px !important;
  height: 30px;
  min-width: 30px !important;
}

.handle {
  background-color: #e3e3e3 !important;
}

vertical-split-separator, horizontal-split-separator {
  border: none !important;
}